<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Company_db" connectionString="Server = KIRILLPC;Database = BV425_CompanyDB;Trusted_Connection = True;"/>
	</connectionStrings>
</configuration>